.container-fluid
  a.navbar-brand(href='http://localhost:63342/static') Zacharscy
  button.navbar-toggler(aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation' data-bs-target='#navbarCollapse' data-bs-toggle='collapse' type='button')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.me-auto.mb-2.mb-md-0
      li.nav-item
        a.nav-link(href='index.html#') Strona g&lstrok;&oacute;wna
      li.nav-item
        a.nav-link(href='realizacje.html' rel='nofollow') RealizacjeX
      li.nav-item
        a.nav-link(href='index.html#services' rel='nofollow') Oferta
      li.nav-item
        a.nav-link(href='index.html#about') O nas
      li.nav-item
        a.nav-link(href='index.html#kontakt') Kontakt
